Accept more than 5 redirects

I just found a web page which did a little over 5 redirects. Suggest make MaxNumberOfRedirects configurable either as property or overridable.
Thanks

What is the URL of the page?

https://www.vismaspcs.se/Online/timeclock/TimeClockGadget.aspx

When Chrome requests the URL, the page in question performs five 3xx redirects before receiving a 200. When SimpleBrowser requests the same URL, SimpleBrowser redirects five times, then quits without making the sixth (successful) request. This is a bug in SimpleBrowser that I can gladly (and quickly) fix.

As far as making the number of redirects configurable, I am hesitant. We are trying to make SimpleBrowser as standards compliant as possible. RFC 2068, Section 10.3, says:
>A user agent SHOULD NOT automatically redirect a request more than 5 times, since such redirections usually indicate an infinite loop.

The emphasis on "SHOULD NOT" was added by the RFC author, not me. There is no room for interpretation with this rule.

I'm hesitant, but that doesn't mean that I am against it. I endorse highly configurable software that allows the user the freedom to do what they want, even if that occasionally allows bad things to happen. Making the number of redirects configurable with the default being compliant with the RFC doesn't seem like a bad idea on the surface. I'll put in the fix for the bug immediately, and think about the enhancement for the configurable number of redirects.

Bug fixed checked in and merged.

Thanks! I couldn't get SimpleBrowser to work in this particular use case because of another subsequent error, but it will be my first tool of choise for other projects. Great Work!

Out of curiosity, was the error with SimpleBrowser, the web site, or was the site simply not usable with SimpleBrowser?

After checking the logs, I found there is a script running in the normal browser that sets the form action and input fields to some values at page load, which is why it didn't work unfortunately.

While SimpleBrowser can't run the JavaScript, you might be able to perform the same actions as the script. If know, or can determine, what the action and input fields values should be, they can be set. I have worked with pages where I have made an Ajax call to retrieve values (via .NET HttpClient) and use the returned values to set inputs.

Thanks for the tip. However, the page uses jquery and a couple of other scripts to calculate an anti forgery token. It seemed a bit too much work, and fragile. I'm trying out Selenium Webdriver at the moment with some success, but of course it's much slower and a memory hog.