How to Pass a Login Browser Window

I have a test which on Navigation brings up a Login Browser Window how can something like this be handled by SimpleBrowser besides the FIrst time visit brings up a Security Alert as well. I am new to the Headless Browser testing could I get some tips on this issue. Thanks
 

If it "brings up" that login window via javascript, then SimpleBrowser is
not the tool to test that step. It doesns't support javascript and most
probably won't in the future.

However, you can still navigate to that login window, log in, then navigate
to your test target. If the logic of automatically opening the window is
not what you try to test, you can still use SimpleBrowser. If the behavior
of your test target is based on javascript, check out PhantomJS. It is a
way more complete browser, based on the Webkit code base. This has many
advantages, but also some disadvantages.

Teun
Op 10 feb. 2015 06:41 schreef "DriveU" <notifications@github.com>:

> I have a test which on Navigation brings up a Login Browser Window how can
> something like this be handled by SimpleBrowser besides the FIrst time
> visit brings up a Security Alert as well. I am new to the Headless Browser
> testing could I get some tips on this issue. Thanks
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/axefrog/SimpleBrowser/issues/124>.
>


It depends on the implementation of the web site you are attempting to log into. There are two things to look at:

1. Is the login form defined in the HTML? Often, popup forms are defined in the HTML, but are invisible (with CSS style "display: none"). If the form is defined, but invisible, you can interact with the form as through it were visible.

2. What is the login mechanism? Even if the form is dynamically created, you may be able to log in without using the form.

There isn't a single answer that covers every web site. What is the URL of the site you are attempting to log into? I can offer specific advice for the specific site you are attempting to access.

Hey Kevin firstly it is for the Staging area so cannot give out the details to the site strictly confidential but the dialog is not a Html Popup its a full fledged Mozilla window I checked with Spy++ I have not given up on this as I do not like PhantomJs what I am thinking of is to get the some way to Auto-redirect and Authenticate something comes to your mind which will resolve this issue?

Since the pop-up is a browser pop-up and not an HTML pop-up, the site may be using Basic Authentication, which Simple Browser supports. See Browser.BasicAuthenticationLogin(), which would be called before attempting to access secure resources. This call adds an authentication cookie to the browser session, which is then read by the server to authenticate the login.

Hey can you elaborate on this with an example because I am missing the sequence In my case meanwhile does SimpleBrowser have any Documentation ? If Yes ??? I could not find?
I tried this
string domain = new Uri(url).Host;
_browser.AutoRedirect=true;
_browser.BasicAuthenticationLogin(domain,"admin","password);
Thereafter checked to see if some Html is returned answer is empty.

Another way I was thinking was Teun's Simple Browser that ties up with WebDriver but does not give me the confidence as it is not an active project. I will try it with WatiN 

Waiting and a bit desperate as I am to give a Presentation using SimpleBrowser


The method BasicAuthenticationTokenenticationLogin should be fairly
straight-forward to use:
public void BasicAuthenticationLogin(string domain, string username, string
password)

You pass in a username and password for your domain. It will use it from
then on. But if this solves your problem depends on your situation. Did you
check what actually happens at login using Fiddler for example? Did you
attach to the RequestLogged event to see everything the browser does? Stuff
like that might shed some light.

And yes, it would be great if we had some documentation and tutorials.

Good luck,
Teun

2015-02-13 7:15 GMT+01:00 DriveU <notifications@github.com>:

> Waiting and a bit desperate as I am to give a Presentation using
> SimpleBrowser
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/axefrog/SimpleBrowser/issues/124#issuecomment-74210060>
> .
>


Hey Tuen 
I was desperate and hunted around frantically got a cue from this Url https://github.com/axefrog/SimpleBrowser/issues/87 and this resolved the issue. Thanks my friend.
One question I had was how to Clear cache  it seems that is the prerequisite for the tests I am writing. I was wondering if Simplebrowser even maintains a cache ? Can you please answer this ? Thanks

No, it currently doesn't maintain a real cache. Only if you do things like
"navigate back", you'll find that it will load back the state it already
had in memory. It also doesn't load script files, CSS or images, so caching
isn't much of an issue. It would however be nice if it worked more like
real browsers do in that respect.

For my curiosity and maybe a later developer with the same issue, would you
mind detailing what your problem was and how you eventually got the login
to work. Code sample maybe?

2015-02-13 11:07 GMT+01:00 DriveU <notifications@github.com>:

> Hey Tuen
> I was desperate and hunted around frantically got a cue from this Url #87
> <https://github.com/axefrog/SimpleBrowser/issues/87> and this resolved
> the issue. Thanks my friend.
> One question I had was how to Clear cache it seems that is the
> prerequisite for the tests I am writing. I was wondering if Simplebrowser
> even maintains a cache ? Can you please answer this ? Thanks
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/axefrog/SimpleBrowser/issues/124#issuecomment-74231225>
> .
>


If he used Basic Authentication, I would be shocked if the code was much different from what is in Issue #87 . All of the methods pertaining to Basic Authentication are there. I agree these should be documented better.

Teun I agree with Kevin I hardly had to do anything #87 was like out of the box solution for me but what made me happy was that something somewhere existed that helped me resolve this issue.
Cookies can be cleared or they are already cleared when a New browser is instanced?
Yet another thing which forces me to ask a Question 
What is this about javascript and Css support not included in SimpleBrowser? 
Could you talk a little more about this meaning without js ansd css what are the handicaps ? 
Are you going to include this feature in your next release ? 
What does it take for these features to be included? Please give me a good picture. 
If I can help I will work on this or motivate others to do so.
I want SimpleBrowser becomes better and will be used and remembered as the best like WatiN. 
 Write to me directly if you feel its ok. Let us work towards a good documentation which is supported by examples start or let me know where you want me to put this I will every now and then include something so over a period of time SimpleBrowser Release can go out with documentation and Examples too

@DriveU,

SimpleBrowser writes nothing to the hard drive. **Everything** is stored in memory. When a Browser instance is destroyed, all cookies, browsing history, logging, etc. is destroyed with it.

Concerning JavaScript support, this is a large and difficult task. The current architecture of SimpleBrowser does not allow for implementing any of the existing JavaScript engines. The choice is either to rewrite SimpleBrowser to integrate with an existing JavaScript engine or write a whole new JavaScript engine. Both options are daunting. I don't think that anyone has said that JavaScript won't ever be supported. Rather, no one has stepped up to do the necessary work. Personally, I like that SimpleBrowser doesn't have JavaScript support and I would demand that any implementation of JavaScript in SimpleBrowser be configurable so that I could turn it off.

Concerning CSS support, since CSS is all style and SimpleBrowser has no visible component, there is no need to support CSS. Am I missing something?

Concerning adding new features, the best, easiest, fastest, and most reliable way is to clone the repository, write the feature, and submit a pull request. In my experience, only one pull request has ever been rejected - and even that one was slid in under the radar when it was thought people weren't paying attention. Otherwise, submit an issue and someone may or may not implement it.

@DriveU It is not the goal of SimpleBrowser to provide JavaScript execution or rendering capabilities. If that's what you need, then SimpleBrowser is not what you're looking for. If you want a headless browser with full rendering and script execution capabilities, try PhantomJS. If you want deep, W3C-compliant parsing of all on-page resources, including the ability parse CSS and other media types, try AngleSharp, which has a renderer in the works also. If you're looking for fast, simple testing that lets you perform HTML-based browser actions and customise exactly how the server should be communicated with, in terms of headers, POST values and so forth, then that's what SimpleBrowser is for.

axefrog I started using SimpleBrowser and I like it since all my queries are being answered it gives me extra confidence that I stick with SimpleBrowser. The only things I request is Some waiting routines and some Online examples like you have one example is already included likewise if we could have an example that shows interaction with almost all tags and controls that would be a great help for the entire community. I am trying to write but lack of examples and documentation puts me in search and experiment mode. IN case of a quick project this serves as a deterrent. Thanks for your lovely and deeply enlightening replies  

How to know if a Login meaning Authentication is Successful?
private static void Authenticate(string url)
{
  Host =new Uri(url).Host;
_browser.AutoRedirect=true;
 BasicAuthenticationToken.timeout=20;
_browser.BasicAuthenticationLogin(Host,"admin,"password");
}
BasicAuthenticationLogin is a void method is there a way we can determine whether the Login was successful or Failed. As of Now what I am doing is after a call to Authenticate(....)
I try getting the CurrentHtml from the browser if (strin.IsnullOrEmpty(html) I consider it as failed is there an inbuilt method or workaround by using which I can determine that the Authentication failed or passed before collecting Html?


Per RFC 2617 (section 3.2.3), if basic authentication is successful, "[t]he Authentication-Info header is used by the server to communicate some information regarding the successful authentication in the response." While SimpleBrowser **does not** have a convenience method for IsBasicAuthenticationLoggedIn(), you should be able to check the received HTTP headers for the Authentication-Info header.